<h1>HOME</h1>
<div class="row">
	<div class="col-md-6">
		<fieldset>
			<legend>List of Users</legend>
			<table class="table">
				<thead>
					<tr>
						<th>User ID</th>
						<th>User Name</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th>SEANDERS</th>
						<th>Sejr Andersen</th>
					</tr>
				</tbody>
			</table>
		</fieldset>
	</div>
	<div class="col-md-6">
		<document-list></document-list>
<!--		<fieldset>
			<legend>Documents not in a Batch</legend>
			<table class="table">
				<thead>
					<tr>
						<th>Reference #</th>
						<th>Transaction Date</th>
						<th>Complete/Incomplete</th>
						<th>Download</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th>1002</th>
						<th>2016-06-25</th>
						<th>COMPLETED</th>
						<th><a>PDF</a></th>
					</tr>
					<tr>
						<th>1003</th>
						<th>2016-06-20</th>
						<th>COMPLETED</th>
						<th><a>PDF</a></th>
					</tr>
					<tr>
						<th>1004</th>
						<th>2016-06-18</th>
						<th>COMPLETED</th>
						<th><a>PDF</a></th>
					</tr>
				</tbody>
			</table>
		</fieldset> -->
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<fieldset>
			<legend>List of Batches</legend>
		</fieldset>
		<table class="table">
			<thead>
				<tr>
					<th>Batch Date</th>
					<th>Batch Status</th>
					<th>Created By</th>
					<th>Download</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th>2016-06-25</th>
					<th>Pending</th>
					<th>Sejr Andersen</th>
					<th><a>PDF</a> / <a>CSV</a></th>
				</tr>
				<tr>
					<th>2016-06-20</th>
					<th>Submitted</th>
					<th>Sejr Andersen</th>
					<th><a>PDF</a> / <a>CSV</a></th>
				</tr>
				<tr>
					<th>2016-06-18</th>
					<th>Submitted</th>
					<th>Sejr Andersen</th>
					<th><a>PDF</a> / <a>CSV</a></th>
				</tr>
			</tbody>
		</table>
	</div>
</div>